<h1>My Tasks</h1>

<!-- Task list -->
<ul style="list-style-type: none; padding-left: 0;">
  <% @tasks.each do |task| %>
    <li>
      <input type="checkbox" disabled <%= "checked" if task.completed %> />
      <%= link_to task.title, task_path(task) %>
      <em><%= task.details %></em>
    </li>
  <% end %>
</ul>

<!-- Task creation form -->
<%= form_with model: Task.new, url: tasks_path, local: true do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :details %>
    <%= f.text_area :details %>
  </div>
  <div>
    <%= f.label :completed %>
    <%= f.check_box :completed %>
  </div>
  <%= f.submit "Add Task" %>
<% end %>
